/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 25, 2016, 12:04:58 PM
    Author     : Sndan
*/


#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4D648D;
}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#nav li a:hover {
    background-color: #152C55;
}
#nav .right{
    float: right;
}
#nav .left{
    float:left;
}


h2
{
    text-align: left;
    color: darkblue;
    font-size: 20px;
   
}
.contactus {
    
    display: inline-block;
    margin: auto;
    width: 80%; 
    padding: 50px;
    color: darkblue;
    
    
    
    
}
#hotelpic 
{
    float:right;
    width:500px;
    height: 500;
}
#p {
    width:500px;
    font-size:18px;

       
float: left;
    font-size:18px;
}
footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4D648D;
   display: block;
    
}
footer li a:hover {
  
}
footer li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.info {
     background-color: #4D648D;
    position: relative;
	overflow: hidden;
        
}

.wrap {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

footer a,
footer h3 {
    font: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 26px;
 }

.clear {
    clear: both;
}

footer .left {
    text-align: left;
    float: left;
    width: 33%;
    padding: 20px;
}

footer .right {
    float: right;
    text-align: left;
    font: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 26px;
    width: 33%;
    padding: 20px;
}
    
footer .centered {
    text-align: left;
    width: 33%;
    float: left;
    padding: 20px;
}